
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);

}

.social-icons a {
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
    /* color: whitesmoke; */
}
nav a {
    margin:0 15px;
    text-decoration: none;
    font-weight: bold;
    /* color: rgb(255, 255, 255); */
}

.main-section {
    padding: 50px;
    background: #f8f9fa;
}

h1 {
    text-align: left;
    color: #a73346;
}
.highlight {
    font-size: 20px;
    font-weight: bold;
    color: #a73346;
    display: flex;
}
.intro {
    display: flex;
}
.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.buttons button {
    background-color:#ffcccd;
     /*rgb(162, 212, 243); */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;   
}

.about {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #fff;
}

.abt-text {
    flex: 1;
    max-width: 50%; 
    text-align: left;
    padding: 20px;
    background: white;
}
.abt-img img {
    width: 40%;
}

.read-more {
    background: #ffcccd;
    border: none;
    padding: 10px;
    cursor: pointer;
}
h2{
    text-align: left;
}

.services {
    padding: 30px;
    background: #f1f1f1;

}
.service-img {
    display: flex;
    gap: 17px;
}

.service-img img {
    
    width: 200px;
    margin: 10px;
    padding: 20px;
    height: 35vmin;
}
